.register{
    height: calc(100vh-50px);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(rgba(255,255,255,0.5),
    rgba(255,255,255,0.5)
    ); */
    /* background-color: #999; */

    margin-top: 10vh;
}

.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{

}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}